body{
  background-image: url('Binary_unblurred.jpg ');
  background-size: cover;
  background-repeat: no-repeat;
}

*{
  color: rgb(250, 250, 250);
  box-sizing: border-box;
  font-weight: 800;
}

div{
    border: 2px solid red;
    width: 35%;
    margin: 2rem auto;
    background-color: rgb(19, 18, 18);
}

h1{
    text-align: center;
}

aside{
  width: 100%;
  text-align: center;
  border-bottom: 3px dotted fuchsia;
  font-size: xx-large;
  font-weight: 800;
}

input[type="button"] {
    display: block;
    margin: 2rem auto;
    color: black;
}

@media only screen and (max-width: 600px) {
  div{
    width: 60%;
  }
  article{
    width: 100%;
    border-top: 10px solid royalblue;
  }
}